<div class="container">
<div class="row">
  <div class="col-8 offset-2">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Food</h5>
        <p>
          <strong>ID</strong>: {{food.id}}</p>
        <p>
          <strong>Name</strong>: {{food.name}}</p>
        <p>
          <strong>Dish:</strong>: {{food.dish}}</p>
        <p>
          <strong>Ingredients:</strong>: {{food.ingredients}}</p>
        <p>
          <strong>Instruction:</strong> :{{food.instruction}}</p>
          <a href="/">← Back To Home</a>
      </div>
    </div>
  </div>
</div>
</div>
